*{ padding: 0; margin:0; box-sizing: border-box; }

.head{
	width: 100%;
	height: 100vh;
	background: linear-gradient(57deg , #00c6a7, #1e4d92);
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
}

nav{ 

	display: flex;
	width: 100%;
	height: 100px;
	 color: white;
	 }

.logo{
	width: 50%;
	height: 100px;
}

.logo h1{
	padding-left: 50px;
	line-height: 100px;
}

.menu{ width: 50%; height: 100px; }

.menu ul{ 

	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center; 
}
.menu ul li{
	list-style: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

section{
	display: flex;
}

.left{
	width: 45%;
	height: auto;
	overflow: hidden;
	margin-top: 20px;
}

.left img{
	width: 600px;
	height: 400px;
}

.right{
	width: 55%;
	height: 300px;
	color: white;
	text-align: center;
	margin-top: 80px;
	padding: 40px;

}

.right h1{
	font-weight: 900; 
	font-size: 50px;
	text-transform: uppercase;
}

.right p{
	font-size: 1.1rem;
	margin: 30px 0;
}

.right button{
	font-size: 17px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	background: linear-gradient(57deg , #00c6a7, #1e4d92);
	border-radius: 4px;
	padding: 20px 35px;

}

.right button:hover{
		background: linear-gradient(57deg , #1e4d92 ,#00c6a7);


}